.desktop-nav-items {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.image {
  background: url("../assets/images/just-react.svg") no-repeat;
  width: 80px;
  height: 80px;
}

.side-nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
